$extraDark: #181A28;
$dark: #2A2E45;
$light: #343956;
$green: #3BCEAC;



body {
    height: 100%;
    background: $dark;
    color: #FFF;
    font-family: "montserrat";

    &:before {
        content: '';
        height: 100%;
        width: 100%;
        background: repeating-linear-gradient(120deg, $light, $light 2px, transparent 2px, transparent 17.5vw);
        position: absolute;
    }
}

.card-sliders {
    overflow: hidden;
    height: 95vh;

    .container {
        height: 100% !important;

        .row {
            height: 100%;
        }
    }

    .card-decks {
        .card-deck {
            display: none;

            &.deck-active {
                display: flex;
            }

            .card {
                font-size: 0.8rem;
                border: 0;
                border-radius: 1.25rem;
                box-shadow: 0 10px 20px 2px $extraDark;
                color: #FFF;

                height: 300px;
                overflow: hidden;

                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-weight: bold;
                }

                a {
                    color: $green;
                }

                img {
                    width: 200%;
                    height: 200%;
                    object-fit: cover;

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                }

                .card-img-overlay {
                    background: rgba(0, 0, 0, 0.5)
                }
            }

        }
    }

}

/* Custom animate.css delay */
.animated.delay-02s {
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
}

.animated.delay-04s {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
